*
{
    box-sizing: border-box;
}

.row::after{
    content: '';
    display:table;
    clear:both;
}

.col-12
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


.col-6
{
    width: 50%;
   
    padding:10px;
}

.options li{
    text-align: center;
}

.options li:hover{
    background-color: gray;
}

.quiz_info
{
    margin: 10px auto;
}

li{
    list-style-type: none;
}

.question_li
{
    border: 1px solid black;
    padding: 15px;
    margin: 10px;
}

.header
{
    text-align: center;
}

.btn
{
    color: black;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    background-color: aquamarine;
    border: 1px solid aquamarine;
    float: right;
    
}

.prev_btn

    {
        color: black;
        font-weight: bold;
        font-size: 15px;
        padding: 10px;
        background-color: aquamarine;
        border: 1px solid aquamarine;
        float: left;
    }

    fieldset{
        border: none;
    }

    form{
        border: 1px solid black;
        padding: 10px;
    }

    .incorrect
    {
        border: 1px solid red;
        padding: 0px 10px;
        width: fit-content;
    }

    .correct{
        border: 1px solid green;
        padding: 0px 10px;
        width: fit-content;
    }


.score
{
    font-size: 15px;
    float: right;
}

.serial_no
{
    font-size: 15px;
    
}



.col-12::after{
    content:'';
    clear: both;
    display: table;
}
.score_board
{
    border: 1px solid black;
    padding: 15px;
    margin-top: 15px;
    text-align: center;

}

.start_quiz
{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

